USE [Asistencia_Estudiantes]
GO

ALTER   PROC SP_Permisos_Roles
(
    @Id_Permiso INT = NULL,
    @Id_Rol INT = NULL,
    @Modulo VARCHAR(50) = NULL,
    @PuedeInsertar BIT = NULL,
    @PuedeEditar BIT = NULL,
    @PuedeVisualizar BIT = NULL,
    @Accion CHAR(3),
    @O_Numero INT = NULL OUTPUT,
    @O_Msg VARCHAR(255) = NULL OUTPUT
)
AS
BEGIN
    IF(@Accion = 'INS')
    BEGIN
        IF ISNULL(@Id_Rol, 0) = 0 OR ISNULL(@Modulo, '') = ''
        BEGIN
            SET @O_Numero = -1
            SET @O_Msg = 'PARAMETROS ID_ROL Y MODULO NO PUEDEN SER NULOS'
        END
        ELSE
        BEGIN
            BEGIN TRAN TRX_INSERTAR_PERMISO
            BEGIN TRY
                INSERT INTO Tbl_Permisos_Roles (
                    Id_Rol,
                    Modulo,
                    PuedeInsertar,
                    PuedeEditar,
                    PuedeVisualizar
                )
                VALUES (
                    @Id_Rol,
                    @Modulo,
                    ISNULL(@PuedeInsertar, 0),
                    ISNULL(@PuedeEditar, 0),
                    ISNULL(@PuedeVisualizar, 1)
                )

                COMMIT TRAN
                SET @O_Numero = 0
                SET @O_Msg = 'PERMISO INSERTADO CORRECTAMENTE'
            END TRY
            BEGIN CATCH
                ROLLBACK TRAN
                SET @O_Numero = ERROR_NUMBER()
                SET @O_Msg = CONCAT(ERROR_PROCEDURE(), '-', ERROR_MESSAGE())
            END CATCH
        END
    END

    ELSE IF(@Accion = 'UPD')
    BEGIN
        IF ISNULL(@Id_Permiso, 0) = 0
        BEGIN
            SET @O_Numero = -1
            SET @O_Msg = 'PARAMETRO ID_PERMISO NO PUEDE SER NULO'
        END
        ELSE
        BEGIN
            BEGIN TRAN TRX_ACTUALIZAR_PERMISO
            BEGIN TRY
                UPDATE Tbl_Permisos_Roles
                SET
                    Modulo = COALESCE(@Modulo, Modulo),
                    PuedeInsertar = COALESCE(@PuedeInsertar, PuedeInsertar),
                    PuedeEditar = COALESCE(@PuedeEditar, PuedeEditar),
                    PuedeVisualizar = COALESCE(@PuedeVisualizar, PuedeVisualizar)
                WHERE Id_Permiso = @Id_Permiso

                COMMIT TRAN
                SET @O_Numero = 0
                SET @O_Msg = 'PERMISO ACTUALIZADO CORRECTAMENTE'
            END TRY
            BEGIN CATCH
                ROLLBACK TRAN
                SET @O_Numero = ERROR_NUMBER()
                SET @O_Msg = CONCAT(ERROR_PROCEDURE(), '-', ERROR_MESSAGE())
            END CATCH
        END
    END

    ELSE IF(@Accion = 'LIS')
    BEGIN
        SELECT *
        FROM Tbl_Permisos_Roles (NOLOCK)
        ORDER BY Id_Permiso DESC

        SET @O_Numero = 0
        SET @O_Msg = 'LISTADO COMPLETO'
    END

    ELSE IF(@Accion = 'FIL')
    BEGIN
        IF ISNULL(@Modulo, '') = ''
        BEGIN
            SET @O_Numero = -1
            SET @O_Msg = 'MODULO NO PUEDE SER NULO'
        END
        ELSE
        BEGIN
            SELECT *
            FROM Tbl_Permisos_Roles (NOLOCK)
            WHERE Modulo LIKE '%'+@Modulo+'%' OR Id_Rol = @Id_Rol
            ORDER BY Id_Permiso DESC

            SET @O_Numero = 0
            SET @O_Msg = 'FILTRADO EXITOSO'
        END
    END

    ELSE IF(@Accion = 'GET')
    BEGIN
        IF ISNULL(@Id_Permiso, 0) = 0
        BEGIN
            SET @O_Numero = -1
            SET @O_Msg = 'ID_PERMISO NO PUEDE SER NULO'
        END
        ELSE
        BEGIN
            SELECT *
            FROM Tbl_Permisos_Roles (NOLOCK)
            WHERE Id_Permiso = @Id_Permiso

            SET @O_Numero = 0
            SET @O_Msg = 'PERMISO RECUPERADO'
        END
    END

    ELSE
    BEGIN
        SET @O_Numero = -1
        SET @O_Msg = 'ACCION NO DISPONIBLE'
    END
END
